.heading{
    height: 47px;
    text-align: center !important;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-transform: capitalize;
    color: #FB5B45 !important;
    margin: 50px auto !important;
  }

  @media only screen and (max-width: 540px) {
    .heading {
      font-size: 30px;
      margin: 70px auto !important;
    }
  }